@model IEnumerable<DAL.Models.Request>

@using DAL.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Model.Any())
{

    <table class="table table-striped table-bordered table-hover" id="myRequests">
        <thead>
            <tr class="success">

                <td>
                    Request
                </td>
                <td>
                    Date
                </td>
                <td>
                    User
                </td>
                @if (HttpContext.Current.User.IsInRole("Moderator"))
                {
                    <td>
                        Editor
                    </td>
                }

                <td>
                    Status
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                var username = manager.FindById(item.CreditorId).UserName;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                @if (HttpContext.Current.User.IsInRole("Moderator"))
                {
                <td>
                    @Html.Encode(username)
                </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
            </tr>



            }

        </tbody>
    </table>
}