@using Microsoft.AspNet.Identity

@{
    var GivenRole = "";
    ViewBag.Title = "Home Page";
    if (HttpContext.Current.User.IsInRole("Editor"))
    {
        GivenRole = "Editor";
    }
    else
    {
        GivenRole = "Moderator";
    }
}
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<div class="row">
    <div class="col-lg-12">
            <div class="panel  panel-green">
                <div class="panel-heading">
                    <h3>My completed requests:</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @for (var j = 1; j <= 7; j++)
                            {

                                var minusOneMonth = @DateTime.Now.AddMonths(-1);
                                var minusTwoMonths = @DateTime.Now.AddMonths(-2);

                                var FirstPart = DateTime.DaysInMonth(minusTwoMonths.Year, minusTwoMonths.Month) - minusTwoMonths.Day;
                                var SecondPart = DateTime.DaysInMonth(minusOneMonth.Year, minusOneMonth.Month);
                                var ThirdPart = DateTime.Now.Day;

                                var TotalDays = FirstPart + SecondPart + ThirdPart;

                                var DayofweekFirstPart = ((int)minusTwoMonths.DayOfWeek != 0) ? (int)minusTwoMonths.DayOfWeek : 7;
                                var DayofweekThirdPart = ((int)DateTime.Now.DayOfWeek != 0) ? (int)DateTime.Now.DayOfWeek : 7;

                                var MaxDay = TotalDays + DayofweekFirstPart;

                                var count = j;



                                var alpha = "MTWTFSS".ToCharArray();
                                <div class="form-inline" id="userId" data-user-id="@HttpContext.Current.User.Identity.GetUserId()">
                                    @for (var i = 0; i < 11; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <button class="withoutborder default-buttoncik" style="background-color: #f4f4f4; pointer-events: none; ">@alpha[j - 1]</button>

                                        }
                                        else
                                        {
                                            if (count < DayofweekFirstPart || count > MaxDay)
                                            {
                                                <button data-button-id="@count" class="default-buttoncik withoutborder invisible-button "></button>

                                            }
                                            else
                                            {
                                                var date = minusTwoMonths.AddDays(count - DayofweekFirstPart);
                                                <button data-toggle="tooltip" data-placement="top" data-button-id="@count" data-date-time="@date.ToShortDateString()" data-date-nelu-time="@date.Day/@date.Month/@date.Year"
                                                        class="withoutborder btn-wasea default-buttoncik @(@j <= 5 ? "zeroRequest" : "weekend")"
                                                        data-title="@date.Day @date.ToString("MMMM") <br /> " title="@date.Day @date.ToString("MMMM") <br /> No requests" data-count="0">
                                                    @date.Day
                                                </button>
                                            }

                                            count += 7;
                                        }
                                    }

                                </div>

                            }

                            <h3>Legend</h3>
                            <button class="withoutborder default-buttoncik zeroRequest" data-toggle="tooltip" data-placement="top" style="cursor:default" data-original-title="No requests"></button>
                            <button class="withoutborder default-buttoncik twoRequestMinus" data-toggle="tooltip" data-placement="top" style="cursor:default" data-original-title="1 request"></button>
                            <button class="withoutborder default-buttoncik fiveRequestMinus" data-toggle="tooltip" data-placement="top" style="cursor:default" data-original-title="2-5 requests"></button>
                            <button class="withoutborder default-buttoncik tenRequestMinus" data-toggle="tooltip" data-placement="top" style="cursor:default" data-original-title="10+ requests"></button>
                            <br />
                        </div>
                        <div class="col-lg-6">
                            <div id="partialContainer">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="chartContainer">

                            </div>
                        </div>
                    </div>
                   
                    
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Requests", "Tasks", "Home", htmlAttributes: new { @class = "btn btn-lg btn-success" })

                </div>
            </div>
    </div>
</div>

<script src="~/Content/Template/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({html: true});

        $(".btn-wasea").mouseenter(function() {
            $(this).removeClass("withoutborder");
            $(this).addClass("hasborder");
        });

        $(".btn-wasea").mouseleave(function() {
            $(this).removeClass("hasborder");
            $(this).addClass("withoutborder");
        });

        $(".btn-wasea").on("click",
            function () {
                var id = $("#userId").attr("data-user-id");
                debugger;
                var date = $(this).attr("data-date-time");
                $.ajax({
                    url: '@Url.Action("GetPartial", "User")',//Aici accesam metoda din controler
                    dataType: 'html',
                    data: { userId: id, date: date },
                    success: function(result){
                        $('#partialContainer').html(result);//si in divul cu id-ul dat bagam rezultatul
                    }


            });
            //alert($(this).attr("data-date-time"));
            //alert($(this).val());
        });

        var date = $(this).attr("data-date-time");
        var id = $("#userId").attr("data-user-id");
        var thisElem = $(this);

        $.ajax({
            url: '@Url.Action("GetFinishedRequests", "User")',
            method: "POST",
            dataType: 'json',
            data: {userId: id},
            success: function (result) {
                for (var i in result) {
                    debugger;
                    var temp = ToJavaScriptDate(result[i]);
                    var temp2 = ToJavaScriptDate2(result[i]);
                    $(".btn-wasea").each(function () {
                        debugger;
                        var date = $(this).attr("data-date-time");
                        if (temp == $(this).attr("data-date-time") || temp2 == $(this).attr("data-date-time")) {
                            var count = parseInt($(this).attr("data-count")) + 1;
                            var data = $(this).attr("data-title");
                            if (count < 2) {
                                $(this).removeClass("zeroRequest");
                                $(this).addClass("twoRequestMinus");
                            } else {
                                if (count <= 5) {
                                    $(this).removeClass("twoRequestMinus");
                                    $(this).addClass("fiveRequestMinus");
                                } else {
                                    if (count <= 10) {
                                        $(this).removeClass("fiveRequestMinus");
                                        $(this).addClass("tenRequestMinus");
                                    }
                                }
                            }

                            $(this).attr("data-original-title", data + count.toString() + " requests");
                            $(this).attr("data-count", count);
                        } else {
                            if (temp == $(this).attr("data-date-nelu-time") || temp2 == $(this).attr("data-date-nelu-time")) {
                                var count = parseInt($(this).attr("data-count")) + 1;
                                var data = $(this).attr("data-title");
                                if (count < 2) {
                                    $(this).removeClass("zeroRequest");
                                    $(this).addClass("twoRequestMinus");
                                } else {
                                    if (count <= 5) {
                                        $(this).removeClass("twoRequestMinus");
                                        $(this).addClass("fiveRequestMinus");
                                    } else {
                                        if (count <= 10) {
                                            $(this).removeClass("fiveRequestMinus");
                                            $(this).addClass("tenRequestMinus");
                                        }
                                    }
                                }

                                $(this).attr("data-original-title", data + count.toString() + " requests");
                                $(this).attr("data-count", count);
                            }
                        }
                    });
                }

               
            }
        });
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
        }

        function ToJavaScriptDate2(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return (dt.getMonth() + 1) + "/" +  dt.getDate()+ "/" + dt.getFullYear();
        }
        var role = '@GivenRole';
        $.ajax({
                      url: '@Url.Action("GetRequestChart", "User")',
                      dataType: 'html',
                      data: { userId: id, role: role },
                      success: function (result) {
                          $('#chartContainer').html(result);
                      }
                  });
    });

</script>